html {
    height: 100%;
    
}

body {
    /* If I choose to use container-fluid, might want to apply the background-image on container-fluid */
    
    height: 100%;
}


/* Navbar */
nav > .container-fluid {
    border: 1px solid brown;
    height: 100%;
    
}

.navbar {
    border: 1px solid green;
    padding: 0;
    /* Modifying height messes up with toggler */
    /* height: 90px;  */  
    
    
}

.navbar-brand {
    border: 1px solid blue;
    background-color: #4aaaa5;
}

.collapse {
    border: 1px solid purple;
    
}

.navbar-nav {
    border: 1px solid pink;
}

/* Containers */
.container {
    border: 1px solid black;
}

body > .container-fluid {
    border: 3px solid teal;
    height: 100%;
    background-image: url("../images/concrete_seamless.png");
}

.row {
    border: 1px solid red;
}

.col-md-8 {
    border: 1px solid orange;
}

.col-md-12 {
    border: 1px solid yellow;
}


.profilepic {

    width: 200px;
    height: auto;
}